<!DOCTYPE html>
<html>
  <head>
    <title>GmapsRailsExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBmE8T1QkDeOjZxMhHU73L02DH-vJIvCG4' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmE8T1QkDeOjZxMhHU73L02DH-vJIvCG4&callback=initMapAll">
    </script> -->

    <%= yield(:head_tags) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
